body {
    margin: 0%;
}

.section_one {
    background-color: #AAB54E;
    width: auto;
    height: auto;
    display: grid;
}

.section_two {
    background-color: #DEA864;
    width: auto;
    height: auto;
    display: grid;
}

.dishes {
    margin: auto;
    width: 69%;
    padding-bottom: 80px;
    padding-top: 5px;
}

.dishes_text {
    margin: 20px;
    padding-top: 20px;
    color: white;
    font-size: 38px;
    font-family: Inter-Regular;
    text-align: center;
    sup {
        font-size: 20px;
    }
}

.sect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.cards {
    margin: 20px;
    width: 288px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    p {
        color: #000;
        font-size: 22px;
        font-family: Inter-SemoBold;
        text-align: center;
        font-weight: 470px;
    }
    .info {
        width: 25px;
        height: 25px;
        padding-top: 22px;
        padding-left: 3px;
    }
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-shrink: 0;
        justify-content: center;
        .left {
            width: 30%;
            height: auto;
            justify-content: start;
            p {
                color: #000;
                font-size: 21px;
                font-family: Inter-SemoBold;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        .right {
            width: 50%;
            height: auto;
            justify-content: start;
            .butt {
                width: 130px;
                height: 40px;
                border-radius: 8px;
                background-color: #FF7B7B;
                border: none;
                color: white;
                font-size: 15px;
                font-family: Inter-Regular;
                margin: 15px;
                margin-bottom: 10px;
            }
            .butt:active {
                background-color: #fd6565;
            }
            .butt1 {
                width: 130px;
                height: 40px;
                border-radius: 8px;
                background-color: #AAB54E;
                border: none;
                color: white;
                font-size: 15px;
                font-family: Inter-Regular;
                margin: 15px;
                margin-bottom: 10px;
            }
            .butt1:active {
                background-color: #919d24;
            }
        }
    }
}

.dialogDescription {
    width: 600px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background: white;
    #divImg {
        padding-right: 10px;
    }
    #descript {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nameProduct {
        font-size: 20px;
        font-family: Inter-SemoBold;
        text-align: center;
    }
    #description {
        font-size: 15px;
        font-family: Inter-SemoBold;
        text-align: center;
    }
    button {
        width: 80px;
        height: 35px;
        border-radius: 8px;
        background-color: #FF7B7B;
        border: none;
        color: white;
        font-size: 13px;
        font-family: Inter-Regular;
        margin: 15px;
        margin-bottom: 10px;
    }
    button:active {
        background-color: #fd6565;
    }
}

.img1 {
    transform: scale(0.9);
    padding-top: 10px;
    width: 220px;
}

.img2 {
    transform: scale(0.9);
    padding-top: 10px;
    width: 220px;
}

.img3 {
    transform: scale(0.9);
    padding-top: 10px;
    width: 220px;
}

.img4 {
    transform: scale(0.9);
    padding-top: 10px;
    width: 220px;
}

.img5 {
    transform: scale(0.9);
    padding-top: 10px;
    width: 220px;
}

.img6 {
    transform: scale(0.9);
    padding-top: 10px;
    width: 220px;
}

.img7 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img8 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img9 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img10 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img11 {
    width: 200px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.img12 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img13 {
    width: 230px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img14 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img15 {
    width: 220px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img16 {
    width: 170px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.img17 {
    width: 130px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img18 {
    width: 160px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.img19 {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img20 {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img21 {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img22 {
    width: 160px;
    padding-bottom: 10px;
    padding-top: 40px;
}

.img23 {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img24 {
    width: 180px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img25 {
    width: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img26 {
    width: 50px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.img27 {
    width: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img28 {
    width: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img29 {
    width: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.img30 {
    width: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
}

@media screen and (min-width:1920px) {
    .sect {
        display: grid;
        grid-template-columns: repeat(3, 290px);
        justify-content: space-around;
        padding-bottom: 15px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 660px) {
    .dialogDescription {
        width: 320px;
        height: 480px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background: white;
        #divImg {
            padding-right: 10px;
        }
        #descript {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #nameProduct {
            font-size: 20px;
            font-family: Inter-SemoBold;
            text-align: center;
        }
        #description {
            font-size: 15px;
            font-family: Inter-SemoBold;
            text-align: center;
        }
    }
}