::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #b9b9b9;
}

::-webkit-scrollbar-thumb:active {
    background: #949494;
}